<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<script th:src="@{/auth/hello}"></script>
<body>
  <form action="http://auth.xxc.com:8080/auth/login" method="post">
      <input type="hidden" name="redirectUrl" th:value="${redirect}">
      <label for="username">用户名</label>
      <input type="text" name="username" id="username">
      <label for="password">密码</label>
      <input type="password" name="password" id="password">
      <button type="submit">登录</button>
  </form>
</body>
</html>